[Desktop Entry]
Name=Desaster-Presenter
Comment=Desaster Presenter
Exec=desaster-presenter
Terminal=false
Type=Application
Icon=unstet-player.png
Categories=Video
