<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width" />
	<!-- Required library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.24/webcam.js"></script>
	<!-- Bootstrap theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Desastre Slides</title>
</head>
<body style="background:black;color:white">

<div class="container">	
  <div class="row">
	<div class="col-lg-6" align="center">
		<label>Capture live photo</label>
		<div id="my_camera" class="pre_capture_frame" ></div>
		<input type="hidden" name="captured_image_data" id="captured_image_data">
		<br>
                <div id="status">Idle</div>
		<input type="button" class="btn btn-info btn-round btn-file" value="Start" onClick="start()">
		<button type="button" class="btn btn-success" onclick="stop()">Pause</button>
	</div>

</div><!-- end container -->
<br>
<center></center>
</body>
<script language="JavaScript">

         var idle = true;
         var active = false;

         var timeStart;
         var timeEnd;
         var time;

         var count = 0;
         var response={
               interval: 5 
             };

	 // Configure a few settings and attach camera 250x187
	 Webcam.set({
	  width: 350,
	  height: 287,
	  dest_width: 1024,
	  dest_height: 768,
	  image_format: 'jpeg',
	  jpeg_quality: 90,
          constraints: { facingMode: 'environment' }
	 });
	 Webcam.attach( '#my_camera' );
	

        function start(){
	   active=true;
        }

        function stop(){
           active=false;
           document.getElementById('status').innerHTML = 'Idle';

        }

        function snap(){
           if(idle && active){
              timeStart= new Date().getTime();
              idle=false;
	      Webcam.snap( function(data_uri) {
 	          $.ajax({
			type: "POST",
			dataType: "json",
			url: "upload.php",
			data: {image: data_uri},
			success: function(data) { 
                                    response=data;
                                    idle=true;
                                    timeEnd=new Date().getTime();
				    document.getElementById('status').innerHTML = 'success (#'+count+') : '+ (timeEnd-timeStart) +' ms';
                                    count++;
                                 },
                        error: function(data) { 
                                    idle=true; 
                                    timeEnd=new Date().getTime();
				    document.getElementById('status').innerHTML = 'error: '+ (timeEnd-timeStart) +' ms';
                                 } 
	          });
	       });	 
           }
        }
        
        
	setInterval(snap,5000);

</script>
</html>
